/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/

input[type=checkbox] {
  display: none;
}

.container img {
  margin: 0px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}

d-byline {
  border-top-color: $grey-color-light !important;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a, d-article d-byline a {
  color: var(--global-text-color) !important;
  &:hover {
    color: var(--global-hover-color) !important;
  }
}

d-article {
  border-top-color: #e8e8e8 !important;
  a, p, h1, h2, h3, h4, h5, h6, dl {
    color: var(--global-text-color) !important;
  }
  a, h1, h2, hr {
    border-bottom-color: $grey-color-light !important;
  }
  a:hover {
    border-bottom-color: var(--global-hover-color) !important;
  }
  dl {
    margin: 15px;
    line-height: 1.1em;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}

d-appendix {
  border-top-color: $grey-color-light !important;
  color: var(--global-distill-app-color) !important;
  h3, li, span {
    color: var(--global-distill-app-color) !important;
  }
  a, a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}
